extends templates/home

block vars
	- var lang = 'es'
	- var headValues = {}
	- headValues.title = 'Taxi Sotogrande'
	- headValues.description = 'Taxi Sotogrande es el mejor servicio de taxi en el área de Sotogrande. Transportes a campos de golf, Alcaidesa, Gibraltar, aeropuertos de Málaga y Sevilla...'

	- var bodyValues = {}
	- bodyValues.header = {}
	- bodyValues.header.title = 'Taxi Sotogrande'
	- bodyValues.header.big = 'Puedes ir donde te propongas'
	- bodyValues.header.small = 'Y nosotros podemos ayudarte'
	- bodyValues.why = {}
	- bodyValues.why.title = '¿Por qué Sotogrande'
	- bodyValues.why.body = []
	- bodyValues.why.body.push('En Sotogrande.taxi trabajamos con personas, para la personas.')
	- bodyValues.why.body.push('Ya estemos ofreciéndole un servicio de taxi, un chófer personal o un transporte de golf, de polo o al aeropuerto, trabajamos para ofrecerle el mejor servicio entre los mejores.')
	- bodyValues.why.body.push('No importa dónde se encuentre o dónde quiera llegar, le invitamos a llamarnos y a disfrutar del viaje con nosotros.')
	- bodyValues.profes = {}
	- bodyValues.profes.title = 'Taxi profesional'
	- bodyValues.profes.body = 'En Sotogrande Taxi ofrecemos nuestra flota de conductores profesionales para ofrecerle un servicio inmejorable en uno de los mejores lugares del mundo, ya sea por sus vacaciones, reuniones o viajes. Llámenos ahora y disfrute un servicio de taxi puntual y sin preocupaciones'
	- bodyValues.golf = {}
	- bodyValues.golf.title = 'Transporte de golfistas'
	- bodyValues.golf.body = 'Disponemos de vehículos con suficiente espacio de equipaje para transportar a grupos de personas y su equipo de golf. Puede reservar el viaje directamente, especificando el tamaño del grupo durante la llamada, y le llevaremos a cualquiera de los increíbles campos de golf de la zona.'
	- bodyValues.chofer = {}
	- bodyValues.chofer.title = 'Chófer personal'
	- bodyValues.chofer.body = 'Cuando necesite un servicio discreto o personalizando para ir a un evento, o si quiere pasar desapercibido, o tan sólo ir de compras, le ofrecemos un chófer que le recogerá allí dónde se encuentre para acompañarle y cubrir con todas sus necesidades hasta que le devuelva a su casa, hotel o destino.'
	
	- var footerValues = {}
	- footerValues.contact = 'Contacto'
	- footerValues.phone = 'Teléfono'
	- footerValues.recommend = 'También recomendamos'
	- footerValues.links = 'Links de interés'
	- footerValues.copyright = 'Copyright'
	- footerValues.rights = 'Todos los derechos reservados'
	- footerValues.created = 'Página web creada por'
