mixin head(values)
	head
		link(rel="stylesheet", href="/css/style.min.css")
		link(rel="icon", href="/images/icon-web.png")
		title= values.title
		meta(name="description", content=values.description)
		meta(name="viewport", content="width=device-width, initial-scale=1")
		script(async, src='https://www.google-analytics.com/analytics.js')
		link(rel="alternate", hreflang="es", href="http://www.sotogrande.taxi")
		link(rel="alternate", hreflang="en", href="http://www.sotogrande.taxi/en/")
		link(rel="alternate", hreflang="x-default", href="http://www.sotogrande.taxi")
