mixin head(values)
	head
		link(rel="stylesheet", href="/css/style.min.css")
		link(rel="icon", href="/images/icon-web.png")
		title= values.title
		meta(name="description", content=values.description)
		meta(name="viewport", content="width=device-width, initial-scale=1")
		script(async, src='https://www.google-analytics.com/analytics.js')
		script window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;ga('create','UA-83884075-1','auto');ga('send','pageview');
