include head
include homeBody
include footer

block vars
	- var lang = 'xxlang'
	
	- var headValues = {title:'Default title', description:'Default desc'}
	
	- var bodyValues = {}
	- bodyValues.header = {}
	- bodyValues.header.title = 'xxbv.header.title'
	- bodyValues.header.big = 'xxbv.header.big'
	- bodyValues.header.small = 'xxbv.header.small'
	- bodyValues.why = {}
	- bodyValues.why.title = 'xxbv.why.title'
	- bodyValues.why.body = []
	- bodyValues.profes = {}
	- bodyValues.profes.title = 'xxbv.profesional.title'
	- bodyValues.profes.body = 'xxbv.profesional.body'
	- bodyValues.profes.alt = 'xxbv.profesional.alt'
	- bodyValues.golf = {}
	- bodyValues.golf.title = 'xxbv.golf.title'
	- bodyValues.golf.body = 'xxbv.golf.body'
	- bodyValues.golf.alt = 'xxbv.golf.alt'
	- bodyValues.chofer = {}
	- bodyValues.chofer.title = 'xxbv.chofer.title'
	- bodyValues.chofer.body = 'xxbv.chofer.body'
	- bodyValues.chofer.alt = 'xxbv.chofer.alt'
	
	- var footerValues = {}
	- footerValues.contact = 'xContacto'
	- footerValues.phone = 'xTeléfono'
	- footerValues.recommend = 'xTambién recomendamos'
	- footerValues.links = 'xLinks de interés'
	- footerValues.copyright = 'xCopyright'
	- footerValues.rights = 'xTodos los derechos reservados'
	- footerValues.created = 'xPágina web creada por'

doctype html
html(lang=lang)
	block head
		+head(headValues)
	body(class='margin0', itemscope, itemtype='http://schema.org/LocalBusiness')
		+homeBody(lang, bodyValues)
		+footer(footerValues)
		link(itemprop='url', href='http://www.sotogrande.taxi/')
		link(itemprop='email', href='info@sotogrande.taxi')
		link(itemprop='sameAs', href='https://www.facebook.com/Taxi-Sotogrande-1380600685313599')
		link(itemprop='sameAs', href='https://www.linkedin.com/company/taxi-sotogrande')
		span(itemprop='geo', itemscope, itemtype='http://schema.org/GeoCoordinates')
			meta(itemprop='latitude', content='36.290913')
			meta(itemprop='longitude', content='-5.271740')
		span(itemprop='logo', itemscope, itemtype="https://schema.org/ImageObject")
			meta(itemprop='url', content='http://www.sotogrande.taxi/images/logo 300.png')
			meta(itemprop='width', content='300')
			meta(itemprop='height', content='300')
	script window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;ga('create','UA-83884075-1','auto');ga('send','pageview');
