@mediaPhone: ~"only screen and (max-width: 959px)";
@mediaDesktop: ~"only screen and (min-width: 960px)";

@dark: #0B3C5D;
@contrast: #328CC1;
@light: #D9B310;
@base: #1D2731;

@zero: 0;

.font-sans {
	font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Tahoma, Helvetica, Arial, sans-serif;
}
.font-serif {
	font-family: Georgia, Times, "Times New Roman", serif;
}

html {
	.font-sans;
	font-size: 16px;
	@media @mediaDesktop{
		font-size: 18px;
	}
}

p {
	line-height: 1.5em;
	font-size: 120%;
}

.display-flex{
	display: flex;
    justify-content: space-between;
	align-items: center;
}

.fontFamily-Georgia,
#body h2,
#footer h3{
	.font-serif;
}
.fontFamily-sourceSans{
	.font-sans;
	font-weight: 300;
	color: #777;
}
.fontWeight-bold{font-weight: bold;}
.textAlign-center{text-align:center;}
.margin-0{margin: 0;}
.marginLeft-20px{margin-left: 20px;}

.position-absolute,
.position-absolute-center{
	position:absolute;
}
.position-absolute-center{
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
#top {
	.nav {
		background-color: @base;
		border-bottom: 1px solid @light;
		color: #FFF;
	    padding: 15px 5%;
	}
	.title {
		font-size: 140%;
		font-weight: 300;
		text-transform:uppercase;
		.margin-0;
	}
	.lang-selector {
		.lang-link {
			text-transform: uppercase;
			text-decoration: none;
			color: #777;
			display:inline-block;
		}
		span.lang-link.active {
			color: @light;
			cursor: default;
		}
		a.lang-link:hover {
			color: #FFF;
		}
	}
}
#header {
	background-image: url(/images/bg-mini.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	height: 480px;
	position: relative;
	text-align:center;
	.phone {
		background: linear-gradient(to right, fade(@contrast, 0%), @contrast, fade(@contrast, 0%));
		color: #F0F0F0;
	    font-size: 200%;
		left:0;
		position:absolute;
		right:0;
		top: 150px;
	}
	.sub{
		bottom: 0;
		padding: 0 0 10px;
		line-height: 2em;
		font-size:120%;
	}
	.big {
		color: #BBB;
		.font-serif;
		font-style: italic;
		text-transform:lowercase;
	}
	.small{
		color:@light;
		text-transform:uppercase;
	}
	@media @mediaDesktop {
		height: 768px;
		background-image: url(/images/bg.jpg);
		.phone {
			font-size: 300%;
		}
	}
}
#body {
	margin-top: 40px;
	text-align: left;
	/* align center en pantalla grande */
	h2 {
		font-weight:300;
		font-size: 170%;
		text-align: center;
		margin-top: 30px;
		@media @mediaDesktop {
			font-size: 150%;
		}
	}
	p {
		color:#AAA;
		font-weight: 300;
		font-size: 110%;
		.wrap-text;
		@media @mediaDesktop {
			font-size: 100%;
			line-height: 2em;
		}
	}
}

#why {
	h2:after {
		content: "";
		height: 1px;
		width: 80px;
		background-color: @light;
		display: block;
		margin: 30px auto;
	}

	@media @mediaDesktop {
		p {
			text-align: center;
		}
	}
}

#services {
	display: flex;
	flex-direction: column;
	h2 {
		text-align: left;
		margin-left: 5%;
		margin-right: 5%;
	}
	@media @mediaDesktop {
		align-items: flex-start;
	    justify-content: space-between;
		flex-direction: row;
	    margin: 0 5%;
		p {
			line-height: 1.7em;
			text-align: left;
		}
		h2 {
			color: @base;
		}
	}
}

#services-taxi,
#services-golf,
#services-chauffeur{
	padding-bottom: 50px;
	img {
		width: 100%;
		height: auto;
		display: block;
	}
	@media @mediaDesktop {
		flex-basis: 30%;
	}
}
#services-golf {
	@media @mediaPhone {
		background-color: @dark;
		color: #FFF;
		p {
			color: #DADADA;
		}
	}
}

#footer{
	background: @base;
	color:#F0F0F0;
	display: flex;
	flex-direction: column;
	padding: 30px 10%;

	.column{
		vertical-align:top;
	}

	h3 {
		font-size: 150%;
		color: @light;
	}
	p,
	a {
		font-size: 100%;
	}

	p,
	a{
		color:#F0F0F0;
	}
	@media @mediaDesktop {
		align-items: flex-start;
	    justify-content: space-between;
		flex-direction: row;
		.column {
		    flex-basis: 25%;
		    flex-grow: 1;
		    flex-shrink: 1;
		}
		h3 {
			font-size: 120%;
		}
	}
}

/* colors */
.color-contrast{color: @contrast;}
.color-light{color: @light;}
.color-base{color: @base;}
.color-dark{color: @dark;}

/* margins */
.margin0{margin: 0;}
.marginTop-50{margin-top:50px;}
.marginVertical-50{margin-top:50px; margin-bottom:50px;}

/* wrappings */
.wrap-text{margin-left: 5%; margin-right: 5%;}
