extends ../templates/home

block vars
	- var lang = 'en'
	- var headValues = {}
	- headValues.title = 'Sotogrande Taxi'
	- headValues.description = 'Sotogrande Taxi is the best taxi service in the Sotogrande area. We offer Golf transfers & transports to Alcaidesa, Gibraltar, Malaga & Sevilla airports...'

	- var bodyValues = {}
	- bodyValues.header = {}
	- bodyValues.header.title = 'Sotogrande Taxi'
	- bodyValues.header.big = 'You can get anywhere'
	- bodyValues.header.small = 'And we can help you get there'
	- bodyValues.why = {}
	- bodyValues.why.title = 'Why Sotogrande'
	- bodyValues.why.body = []
	- bodyValues.why.body.push('At Sotogrande.taxi we work with people, for people.')
	- bodyValues.why.body.push('Whether we are offering you a regular taxi service, a personal chauffeur or a polo, golf or airport transfer, we work to offer you the best among the best service.')
	- bodyValues.why.body.push('No matter where you are or where you want to get, we invite you to call us, journey with us and enjoy with us.')
	- bodyValues.profes = {}
	- bodyValues.profes.title = 'Professional taxi'
	- bodyValues.profes.body = 'We at Taxi Sotogrande offer our fleet of professional drivers to provide an excellent level of service at one of the finest places in the world. Whether for holidays, meetings or travel. Call now and enjoy a punctual and carefree taxi service.'
	- bodyValues.profes.alt = 'You will enjoy the company of our drivers.'
	- bodyValues.golf = {}
	- bodyValues.golf.title = 'Golf transfers'
	- bodyValues.golf.body = 'We have vehicles with enough luggage space for a group of people and their set of clubs. You can you make the booking directly, specifying your group size during the call and we will bring you to any of the amazing golf courses in the area.'
	- bodyValues.golf.alt = "We known all of the golf courses in the area... if you don't know where to go -we can suggest the best fit for your taste!"
	- bodyValues.chofer = {}
	- bodyValues.chofer.title = 'Personal chauffeur'
	- bodyValues.chofer.body = 'When you need a discrete or personalized service to attend an event, or you want to pass unnoticed, or just to go shopping, we offer a chauffeur that will pick you up to be with you and attend to all of your requirements until you get back to your home, hotel or destiny.'
	- bodyValues.chofer.alt = 'We offer chauffeur services, it doesn\'t matter if it\'s with one of our vehicles or if you want to provide one.'
